{
    "passwordSalt": "salt",
    "mailResetSalt": "salty",
    "cookieSessionKey1": "key1",
    "cookieSessionKey2": "key2",
    "webSiteUrl": "url",
    "mailHostname": "host",
    "socketHost": "host:3000",
    "feedUpdateService": "host:3033",
    "errorMailTo": "m@m.com"
}
