@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
	font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.ttf);
	font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.ttf);
	font-style: italic;
	font-weight: bold;
}

body{
	font-family: Roboto, arial;
}

[ng-click] {
    cursor: pointer;
}

.leftCol{
	width: 250px;
	height: 100%;
	position: fixed;
    overflow: scroll;
}

.centerCol{
 	width: 100%;
	height: 100%;
	float: left;
}

.readLaterCol{
	width: 20%;
	height: 100%;
	/* float: right; */
	right: 0;
	position: fixed;
}

.readLaterCol h2{
	background-color: orange;
	font-size: 12pt;
}

.readLaterCol h2 a{
	text-decoration: none;
	color: black;
}

.userPanel {
    width: 100%;
}

.userPanel span.optionRight {
    float: right;
}

.feedActionHeader{
    position: fixed;
    top: 10px;
    left: calc(50% + 400px);
}

ul.feedList {
	list-style: none;
    padding-left: 15px;
    margin: 5px 0;
}

ul.feedList li {
	margin: 4px 0;
}

ul.feedList li.current {
	font-weight: bold;
}

.feedsTotal {
    margin-top: 10px;
}

h4{
    margin-bottom: 5px;
}

.feedsTotal span, h4 span {
    display: inline-block;
    padding-right: 5px;
    float: right;
}

div>h4:first-of-type {
    margin-top:10px;
}

.feedList li a {
	text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
	color: black;
    width: 170px;
}

.feedList li:hover {
	background-color: #ddd;
	color: black;
}

.showAll {
    padding-left: 15px;
    font-style: italic;
}

span.nbItems{
    display: inline-block;
    padding-right: 5px;
    float: right;
}

.newsItem {
	width: 650px;
	margin: 6px auto;
	padding: 0 30px 30px 30px;
	border-radius: 4px;
	border: 1px solid lightGrey;
	text-align: justify;
}

.newsItem.read h2 a {
    color: #aaa !important;
}

.currentItem{
	border-color: black;
}

.newsItem .newsHeader {
    display: inline-block;
}

.newsItem .newsHeader i {
	cursor: pointer;
}

.newsItem .newsHeader h2 {
	display: inline;
}

.newsItem .newsHeader h2 a {
	text-decoration: none;
	color: black;
}

.newsItem .newsHeader h3 {
	margin: 0;
	padding: 0;
    font-size: 13pt;
    font-weight: normal;
    color: grey;
}

.newsItem .newsContent {
	width: 100%;
    overflow: auto;
}

.stateOn {
	color: black !important;
}

.newsContent img, .newsContent div, .newsContent iframe {
	max-width: 600px !important;
	height: auto;
	margin: 0 auto;
}

.disableInput {
	pointer-events: none;
	opacity: 0.4;
}

.hide {
	display: none;
}

.setupDialog {
	width: 800px;
	position: fixed;
	left: calc(50% - 400px);
	padding: 8px;
    max-height: 600px;
    overflow: scroll;
	background-color: white;
	-webkit-box-shadow: 2px 2px 1px 1px rgba(214,214,214,1);
	-moz-box-shadow: 2px 2px 1px 1px rgba(214,214,214,1);
	box-shadow: 2px 2px 1px 1px rgba(214,214,214,1);
}


.loginDialog {
	width: 400px;
	position: fixed;
	left: calc(50% - 200px);
	padding: 8px;
    height: 300px;
	background-color: white;
	-webkit-box-shadow: 2px 2px 1px 1px rgba(214,214,214,1);
	-moz-box-shadow: 2px 2px 1px 1px rgba(214,214,214,1);
	box-shadow: 2px 2px 1px 1px rgba(214,214,214,1);
}

.loginDialog input{
    display: block;
    margin: 10px auto 0 auto;
    font-size: 24px;
}

.loginDialog button{
    display: block;
    margin: 10px auto 0 auto;
    font-size: 24px;
}

.setupDialog .category {
    display: inline-block;
    padding: 4px;
}

.setupDialog .feedCard {
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 4px;
    margin: 5px;
    width: 230px;
    vertical-align: top;
}

.setupDialog .feedCard h5{
    margin: -5px -5px 5px -5px;
    text-align: center;
    background-color: lightgreen;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 5px 0;
    font-size: 16px;
}

.dialogHead {
	width: 100%;
	border-bottom: 1px solid black;
}
