<!doctype html>
<html ng-app="feedsApp">
	<head>
		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>
		<div ng-controller="loginController" class="loginDialog {{classShow}}">
			<div class="dialogHead">Login <i class="fa fa-times" style="float: right; cursor: pointer;" ng-click="closeDialog()"></i></div>
			<div ng-show="loginMode">
				<input type="text" ng-model="login" placeholder="Login">
				<input type="password" ng-model="password" placeholder="Password">
				<button ng-click="doLogin()">OK</button>
			</div>
			<div ng-show="accountCreateMode">
				<input type="text" ng-model="createLogin" placeholder="Login">
				<input type="password" ng-model="createPassword" placeholder="Password">
				<input type="password" ng-model="createPasswordCheck" placeholder="Password check">
				<button ng-click="doCreate()">Create</button>
			</div>
			<div ng-click="createAccount()">Create account</div>
		</div>

		<div ng-controller="feedsController" class="{{activateMainClass}}" ng-show="loggedIn">
			<div class="leftCol">
				<div class="userPanel">
					<span ng-click="openDialog()"><i class="fa fa-cog fa-lg"></i> {{currentUser}}</span> <span class="optionRight" ng-click="logout()">Logout</span><br />
					<button type="button" ng-click="openDialog()">Add/remove feeds</button>
				</div>
				<div ng-show="feedsTotal() > 0" class="feedsTotal">Total <span>{{feedsTotal()}}</span></div>
				<div ng-repeat="category in categories">
					<h4 ng-click="category.Fold = !category.Fold">{{category.Name}} <span>{{feedsTotal(category.IdCategory)}}</span></h4>
					<ul ng-show="!category.Fold" class="feedList">
						<li ng-repeat="feed in feeds | filter:{ IdCategory: category.IdCategory }" ng-show="feed.NbItems > category.ShowEmptyFeeds" ng-class="feed.IdFeed == currentFeedId ? 'current' : ''">
							<a href="" ng-click="feedLoad(feed.IdFeed, true)" title="{{ feed.Name }}">{{ feed.Name }}</a><span class="nbItems">{{ feed.NbItems }}</span>
						</li>
					</ul>
					<div class="showAll" ng-click="toggleShowAll(category.IdCategory)">
						<span ng-show="category.ShowEmptyFeeds === 0">Show all</span>
						<span ng-show="category.ShowEmptyFeeds === -1">Hide empty feeds</span>
					</div>
				</div>
				<h4 ng-click="loadSaved()">Saved items<span class="nbItems">{{ nbSavedItems }}</span></h4>
			</div>
			<div class="centerCol">
				<div class="feedActionHeader" ng-show="showHeader()">
					<span ng-click="readAll()">Mark all as read</span><br />
					<input type="checkbox" ng-model="autoMarkRead" /> Auto mark as read<br />
					<input type="checkbox" ng-model="sortByNewest()" ng-click="changeSortOrder()" /> Newest first
				</div>
				<div class="newsItem" ng-class="getItemClass(content)" id="newsItem{{content.IdFeedContent}}" data-id-feed="{{content.IdFeedContent}}" ng-repeat="content in feedContent">
					<div class="newsHeader">
						<i class="fa {{getStateRead(content.IsRead)}}" ng-class="content.IsRead ? fa-check-square-o : fa-square-o" ng-click="postRead(content, 1)"></i>&nbsp;
						<i class="fa fa-bookmark{{getState(content.IsSaved)}}" ng-click="postToggleSave(content)"></i>
						<h2 id="news{{content.IdFeedContent}}"><a id="newsLink{{content.IdFeedContent}}" href="{{content.Url}}">{{content.Title}}</a></h2>
						<h3>{{content.PublishedDate | date:'dd/MM/yyyy H:mm:ss'}} -- {{content.Author}}</h3>
					</div>
					<div class="newsContent" ng-bind-html="content.Content"></div>
				</div>
			</div>
			<div class="readLaterCol">
				<div class="newsLater" ng-repeat="later in laterContent">
					<h2 id="newsLater{{later.IdFeedContent}}"><a id="newsLaterLink{{later.IdFeedContent}}" href="{{later.Url}}">{{later.Title}}</a></h2>
				</div>
			</div>
		</div>

		<div ng-controller="setupController" class="setupDialog {{classShow}}">
			<div class="dialogHead">Configuration <i class="fa fa-times" style="float: right; cursor: pointer;" ng-click="closeDialog()"></i></div>
			<h4>Categories</h4>
			<div ng-repeat="category in categories" class="category" data-id="{{category.IdCategory}}">
				{{category.Name}} <i class="fa fa-trash" ng-show="category.IdCategory>=0" confirmed-click="deleteCategory(category.IdCategory)" ng-confirm-click="Are you sur you want to delete {{category.Name}}?"></i>
			</div><br />
			<input type="text" ng-model="categoryToAddName" placeholder="New category"> <i class="fa fa-plus" ng-click="addCategory()"></i>
			<h4>Feeds</h4>
			<input type="hidden" value="{{currentFeedId}}" />
			URL <input type="text" ng-model="feedToAddUrl" placeholder="URL du feed">
			Name <input type="text" ng-model="feedToAddName" placeholder="Nom du feed">
			<i class="fa fa-plus" ng-click="addFeed()"></i>
			<div>
				<div ng-repeat="feed in feeds | filter:{ Url: feedToAddUrl, Name: feedToAddName } | limitTo: 9" class="feedCard">
					<h5>{{ feed.Name }}</h5>
					<!-- <i class="fa fa-{{addOrRemove(feed)}}-circle" ng-click="feedChangeSubscription(feed)"></i> -->
					<div ng-click="feedChangeSubscription(feed)"><i class="fa fa-{{addOrRemove(feed)}}-circle"></i>
						<span ng-show="feed.IsSubscribed">Se désabonner</span>
						<span ng-show="!feed.IsSubscribed">S'abonner</span>
					</div>
					<div ng-show="feed.IsSubscribed">
						Categorie <select ng-model="feed.IdCategory" ng-change="feedChangeCategory(feed)"
							ng-options="category.IdCategory as category.Name for category in categories">
						</select>
					</div>
					URL <input type="text" ng-model="feed.Url"><br />
					Nom <input type="text" ng-model="feed.Name"><br />
					<i class="fa fa-pencil" ng-click="editFeed(feed)"></i>
					<i class="fa fa-trash" confirmed-click="deleteFeed(feed)" ng-confirm-click="Are you sur you want to delete {{feed.Name}}?"></i>
				</div>
			</div>
		</div>
	</body>
</html>
