<!doctype html>
<html ng-app="feedsApp">
	<head>
		<title>Feeds</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="css/main.min.css">
		<link rel="stylesheet" href="css/font-awesome.css">
	</head>
	<body class="ng-cloak" ng-cloak>
		<div ng-controller="loginController" class="login {{classShow}}">
			<!-- <div class="dialogHead">Login <i class="fa fa-times" style="float: right; cursor: pointer;" ng-click="closeDialog()"></i></div> -->
			<h1>Feeds</h1>
			<div ng-show="loginMode">
				<form>
					<input type="text" ng-model="login" placeholder="Login">
					<input type="password" ng-model="password" placeholder="Password">
					<button type="submit" ng-click="doLogin()">OK</button>
					<div class="errorMessage" ng-show="loginError">{{errorMessage}}</div>
				</form>
			</div>
			<div ng-show="accountCreateMode">
				<input type="text" ng-model="createLogin" placeholder="Login">
				<div ng-show="createLoginAlreadyUsed" class="errorMessage">Login already taken</div>
				<input type="text" ng-model="createEmail" placeholder="EMail">
				<div ng-show="createEmailNotGood" class="errorMessage">E-mail not good</div>
				<input type="password" ng-model="createPassword" placeholder="Password">
				<input type="password" ng-model="createPasswordCheck" placeholder="Password check">
				<div ng-show="createPassNoMatch" class="errorMessage">Passwords don't match</div>
				<div ng-show="createPassEmpty" class="errorMessage">You have to provide a password</div>
				<button ng-click="doCreate()">Create</button>
			</div>
			<div ng-show="forgotPasswordMode">
				<input type="text" ng-model="eMailPassword" placeholder="E-mail">
				<button ng-click="sendPasswordMail()">Send reset mail</button>
			</div>
			<div ng-show="enterCodeMode">
				<input type="text" ng-model="resetCode" placeholder="Code">
				<input type="text" ng-model="resetLogin" placeholder="Login">
				<input type="password" ng-model="resetPassword" placeholder="New password">
				<input type="password" ng-model="resetPasswordConfirm" placeholder="New password confirmation">
				<button ng-click="changePassword()">Change password</button>
			</div>
			<span ng-click="createAccount()">Create account</span> | <span ng-click="forgotPassword()">Forgot password</span> | <span ng-click="enterCode()">Enter code</span>
		</div>

		<div ng-controller="feedsController" class="{{activateMainClass}}" ng-show="loggedIn">
			<div class="smartphone topMenuHamburger"><i class="fa fa-lg fa-bars" aria-hidden="true" ng-click="showCollapseMenu = !showCollapseMenu"></i></div>
			<div class="topMenu">
				<div class="userPref" ng-click="openDialog()"><i class="fa fa-cog fa-lg"></i> {{currentUser}}</div>
				<div class="controlButtons">
					<button ng-click="prevFeed()"><i class="fa fa-angle-double-left fa-lg"></i></button>
					<button ng-show="currentFeedName !== ''" ng-click="prevItem(true)" ><i class="fa fa-angle-left fa-lg"></i></button>
					<button ng-show="currentFeedName !== ''" ng-click="nextItem(true)"><i class="fa fa-angle-right fa-lg"></i></button>
					<button ng-click="nextFeed()"><i class="fa fa-angle-double-right fa-lg last"></i></button>
					{{currentFeedName}}
					<i ng-click="readAll()" class="fa fa-check-square-o fa-lg" ng-show="currentFeedName !== ''" title="Mark all as read"></i>
				</div>
				<span class="optionRight" ng-click="logout()"><i class="fa fa-power-off fa-lg"></i></span>
			</div>
			<div class="leftCol" ng-show="showCollapseMenu">
				<div class="userPanel">
					<button type="button" ng-click="openAddFeedsDialog()">Add feeds</button>
					<button type="button" ng-click="openCategoriesDialog()">Organize feeds</button><br />
				</div>
				<div ng-show="feedsTotal() > 0" class="feedsTotal">Total <span>{{feedsTotal()}}</span></div>
				<div ng-repeat="category in categories">
					<h4 ng-click="category.Fold = !category.Fold">{{category.Name}} <span>{{feedsTotal(category.IdCategory)}}</span></h4>
					<ul ng-show="!category.Fold" class="feedList">
						<li ng-repeat="feed in feeds | filter:{ IdCategory: category.IdCategory } : true" ng-show="feed.NbItems > category.ShowEmptyFeeds" ng-class="feed.IdFeed == currentFeedId ? 'current' : ''">
							<a href="" ng-click="feedLoad(feed.IdFeed, true)" title="{{ feed.Name }}">{{ feed.Name }}</a><span class="nbItems">{{ feed.NbItems }}</span>
						</li>
					</ul>
					<div class="showAll" ng-click="toggleShowAll(category.IdCategory)">
						<span ng-show="category.ShowEmptyFeeds === 0">Show all</span>
						<span ng-show="category.ShowEmptyFeeds === -1">Hide empty feeds</span>
					</div>
				</div>
				<h4 ng-click="loadSaved()">Saved items<span class="nbItems">{{ nbSavedItems }}</span></h4>
			</div>
			<div class="centerCol">

				<div class="categoriesMenu" ng-show="showCategoriesConfiguration">
					<div class="addCategory">
						<h2>Create a new category</h2>
						<input type="text" ng-model="categoryToAddName" placeholder="Category name"> <i class="fa fa-plus" ng-click="addCategory()"></i><br />
					</div>
					<div ui-on-Drop="onDrop($event,$data, -1)" ng-repeat="category in categories | filter:{ IdCategory: null }" class="category noCategory" data-id="-1">
						<h4>
							{{category.Name}} <input type="text" placeholder="Search..." ng-model="category.searchTerm" />
						</h4>
						<div class="feedsConfigContainer" ng-show="category.showContents">
							<div ui-draggable="true" data-category="-1" drag="feed.IdFeed" ng-repeat="feed in feeds | filter:{ IdCategory: category.IdCategory, Name: category.searchTerm } | limitTo: category.nbItemsShown" class="feedCard">
								<h5 ng-click="feed.showDetails = !feed.showDetails" title="{{ feed.Name }}">{{ feed.Name }}</h5>
							</div>
							<div ng-click="category.nbItemsShown = (category.nbItemsShown === 10 ? 99999 : 10)" class="showMore">{{category.nbItemsShown === 10 ? 'More' : 'Less'}}...</div>
						</div>
					</div>
					<div ui-on-Drop="onDrop($event,$data, category.IdCategory)" ng-repeat="category in categories | filter:{ IdCategory: '' }" class="category {{ category.IdCategory === currentDraggedCategory ? 'currentCategory' : ''}}" data-id="{{category.IdCategory}}">
						<h4>
							{{category.Name}} <i class="fa fa-trash" ng-show="category.IdCategory>=0" confirmed-click="deleteCategory(category.IdCategory)" ng-confirm-click="Are you sur you want to delete {{category.Name}}?"></i><br />
							<input type="text" placeholder="Search..." ng-model="category.searchTerm" />
						</h4>
						<div class="feedsConfigContainer" ng-show="category.showContents">
							<div ui-draggable="true" data-category="{{category.IdCategory}}" drag="feed.IdFeed" ng-repeat="feed in feeds | filter:{ IdCategory: category.IdCategory, Name: category.searchTerm } | limitTo: category.nbItemsShown" class="feedCard">
								<h5 ng-click="feed.showDetails = !feed.showDetails" title="{{ feed.Name }}">{{ feed.Name }}</h5>
							</div>
							<div ng-click="category.nbItemsShown = (category.nbItemsShown === 10 ? 99999 : 10)" class="showMore">{{category.nbItemsShown === 10 ? 'More' : 'Less'}}...</div>
						</div>
					</div>
				</div>

				<div class="addFeedsMenu" ng-show="showAddFeedsConfiguration">
					<input type="hidden" value="{{currentFeedId}}" />
					<div class="searchFeeds">
						<h2>Search in Feeds</h2>
						URL <input type="text" ng-model="feedToAddUrl" placeholder="Feed's URL">
						Name <input type="text" ng-model="feedToAddName" placeholder="Feed's name">
						<i class="fa fa-plus" ng-click="addFeed()"></i>&nbsp;|&nbsp;
						<i class="fa fa-check-circle" ng-click="feedTest()"></i>
						<div class="windowMsgBox" ng-show="showMessageBox">
							<i class="fa fa-times" style="float: right" ng-click="showMessageBox = false"></i>
							<div class="error" ng-show="feedError">
								{{ errorMessage }}
							</div>
							<div class="success" ng-show="!feedError">
								{{ testNumber }} articles<br />
								1st ({{testDatePublished}}): <a href="{{testUrl}}">{{testTitle}}</a>
							</div>
						</div>
					</div>
					<div class="feedsConfigContainer">
						<div ng-repeat="feed in allFeeds | filter:{ Url: feedToAddUrl, Name: feedToAddName } | limitTo: 12" class="feedCard">
							<h5><a href="{{feed.Url}}" target="_blank">{{ feed.Name }}</a></h5>
							<div ng-click="feedChangeSubscription(feed)"><i class="fa" ng-class="feed.IsSubscribed === 0 ? 'fa-plus' : 'fa-minus'"></i>
								<span ng-show="feed.IsSubscribed">Unsubscribe</span>
								<span ng-show="!feed.IsSubscribed">Subscribe</span>
							</div>
						</div>
					</div>
				</div>

				<div ng-show="showMainFeeds">
					<div class="feedActionHeader" ng-show="showHeader()">
						<input type="checkbox" ng-model="autoMarkRead" /> Auto mark as read<br />
						<input type="checkbox" ng-model="isCurrentFeedSortByNewest" ng-click="changeSortOrder()" /> Newest first
					</div>
					<div class="newsItem" ng-class="getItemClass(content)" id="newsItem{{content.IdFeedContent}}" data-id-feed="{{content.IdFeedContent}}" ng-repeat="content in feedContent">
						<div class="newsHeader">
							<i class="fa" ng-class="content.IsRead ? 'fa-check-square-o' : 'fa-square-o'" ng-click="postRead(content, 1)"></i>&nbsp;
							<i class="fa fa-bookmark{{getState(content.IsSaved)}}" ng-click="postToggleSave(content)"></i>
							<h2 id="news{{content.IdFeedContent}}"><a id="newsLink{{content.IdFeedContent}}" href="{{content.Url}}">{{content.Title}}</a></h2>
							<h3>{{content.PublishedDate | date:'dd/MM/yyyy H:mm:ss'}} -- {{content.Author}}</h3>
						</div>
						<div class="newsContent" ng-bind-html="content.Content"></div>
					</div>
				</div>
			</div>
		</div>

		<div ng-controller="setupController" class="setupDialog {{classShow}}">
			<div class="dialogHead">Configuration <i class="fa fa-times" style="float: right; cursor: pointer;" ng-click="closeDialog()"></i></div>
			<center>
				<img ng-src="img/underconstruction{{randomGif}}.gif" />
			</center>
		</div>


		<script src="js/angular.min.js"></script>
		<script src="js/angular-animate.min.js"></script>
		<script src="js/draganddrop.min.js"></script>
		<script src="socketJS"></script>
		<script src="client.config.js"></script>
		<script src="js/main.js"></script>
		<script src="js/controllers/feeds.js"></script>
		<script src="js/controllers/login.js"></script>
		<script src="js/controllers/setup.js"></script>
		<script src="js/controllers/addFeeds.js"></script>
	</body>
</html>
